*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  color: white;
  padding: 30px;
  text-align: center;
  background-color: rgb(132, 237, 255);
}

h1 {
  font-size: 78px;
}

.cat {
  width: 300px;
  height: 300px;
  cursor: pointer;
  margin: 100px auto;
  border-radius: 100%;
  background: url('../assets/cat.jpg') no-repeat center / cover;
  transition: all 1s;
}

.cat:hover {
  transform: rotate(360deg);
}
